@{
    ViewData["Title"] = "LangBiang - Nóc nhà Đà Lạt";
    Layout = "~/Views/Shared/_LayoutConDao.cshtml";
}
@using DAL.Entities
@using DAL.Models.Ticket

<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/style.css">
<link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<style>

    #hero h2{
        color:#555;
    }
    .la-hero {
        font-size: 16pt;
        color: #000000;
    }

    .fw-bold {
        color: #333;
    }

    @@media only screen and (max-width: 768px) {
        .la-hero {
            font-size: 13pt;
            color: #000000;
        }

        #header .logo {
            line-height: 1.4;
        }
    }
</style>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex">
    <div class="container">
        <div class="row">

            @{
                var lstTicket = (List<Ticket>)ViewBag.Ticket;
                foreach (var ticket in lstTicket.OrderByDescending(x => x.Id))
                {
                    <div class="col-lg-6 col-xxl-4 mb-5" >
                        <div class="card border-0 h-100" style="background-color: rgba(255, 255, 255, 0.8);">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-gradient rounded-3 mb-4 mt-n4"><i style="font-size:40pt;" class="fa fa-user-tag"></i>&nbsp;<strong>@(ticket.Code)</strong></div>
                                <strong class="fs-4 fw-bold" style="font-size:16pt;">@(ticket.Description)</strong><br />
                                <strong class="fs-4 fw-bold" style="color:#0094ff;font-size:20pt">@(ticket.Price.ToString("#,##0")) VNĐ</strong>
                                <p class="mb-0">Thăm quan và vui chơi các địa điểm</p>
                                <a href="/condao/ticketorder?ticketCode=@(ticket.Code)&quanti=1&visitDate=@(DateTime.Now.ToString("dd/MM/yyyy"))" class="btn btn-danger">Mua vé</a>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>

    </div>


</section>
<!-- End Hero -->
<section id="about" class="about">
    <div class="section-title">
        <h2>GIỚI THIỆU VỀ LANGBIANG</h2>
    </div>
    <div class="row content" style="padding:20px;">
        <div class="col-lg-6">
            <div style="width:100%;padding:5px;border:1px solid #ccc;">
                <img class="img" style="width:100%;height:70%" src="~/img/article-langbiang.jpg" />
            </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
            <p>Langbiang là tên của một ngọn núi cách trung tâm thành phố Đà Lạt khoảng 12km, với bề dày lịch sử lâu đời, gắn liền với sự phát triển của du lịch. Ngọn núi gồm núi Ông cao khoảng 2.124 mét so với mực nước biển và núi Bà cao khoảng 2.167 mét. Ngoài ra, trong khuôn viên khu du lịch Langbiang còn ngọn núi thứ tư là đồi Radar, cao 1.929 mét. Vì thế nơi đây được mệnh danh là nóc nhà của Đà Lạt, du khách có thể thu gọn vào tầm mắt vẻ đẹp của cả thành phố mộng mơ.</p>
            <p>
                1.2. Truyền thuyết về đỉnh Langbiang<br />
                Về lịch sử, cái tên Langbiang gắn với rất nhiều những câu chuyện truyền thuyết. Nổi tiếng nhất phải kể đến là chuyện tình đầy bi thương của một chàng trai tên Lang và một cô gái tên Biang. Hai người đã đem lòng yêu thương nhau sau một lần tình cờ gặp gỡ và chàng lang đã cứu nàng Biang thoát khỏi tình huống hiểm nghèo.
                Thế nhưng vì hai người thuộc hai bộ lạc khác nhau, giữa hai bộ lạc lại có thù oán sâu nặng nên chuyện tình này đã gặp rất nhiều sự cấm cản. Cuối cùng hai người đã bất chấp tất cả, ngồi bên cạnh nhau vượt qua đêm lạnh giá, ngày nắng gắt, bên nhau đến trút hơi thở cuối cùng. Nước mắt của nàng Biang hòa cùng dòng thác, như nỗi đau vô tận của những người yêu nhau nhưng không thể bên cạnh nhau. Kể từ đây cái tên đỉnh Langbiang ra đời, cho đến tận ngày này vẫn lưu lưu truyền cùng câu chuyện tình yêu bi thương nhưng vô cùng cảm động. Đồng thời nơi đây cũng trở thành biểu tượng tình yêu và là sự lựa chọn của rất nhiều đôi lứa yêu nhau, muốn cùng nhau thề nguyền hẹn ước.
            </p>

        </div>
    </div>
    <br />


</section><!-- End About Us Section -->

<section id="services" class="services section-bg">


    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>CÁC ĐiỂM THÚ VỊ VÀ TRÒ CHƠI Ở LANGBINANG</h2>
            <p>Núi Langbiang Đà Lạt - Biểu tượng của thiên nhiên núi rừng Tây Nguyên hùng vĩ. Cùng nhau trên chuyến hành trình du ngoạn khám phá một trong những vùng đất thú vị nhất trong tour du lịch Đà Lạt nhé!</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Tượng Lang biang</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen1.jpg" />
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Thung lũng trăm năm</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen2.jpg" />

                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Bãi Mimosa</a></h4>
                    <p>Bãi Mimosa</p>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen3.jpg" />

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Chơi dù lượn</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen4.jpg" />

                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Đi xe Jeep</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen5.jpg" />

                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Leo núi</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen6.jpg" />

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Cưỡi ngựa</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen7.jpg" />

                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <h4><i class="bx bx-tachometer"></i> &nbsp;<a href="">Săn mây</a></h4>
                    <img class="img img-thumbnail img-location" src="~/img/tuyen8.jpg" />

                </div>
            </div>


        </div>









    </div>
</section>




<div class="modal fade show" id="modal-notify" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin:0px">
                    <i>Khách hàng vui lòng liên hệ Quầy vé để được hướng dẫn mua tuyến thăm quan này</i>
                    <br />
                    <i><b>Số hotline:</b> 0983.83.06.69</i>

                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script src="~/plugins/jquery/jquery.js"></script>
    <script src="~/app-script/helper.js"></script>
    <script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $(".date").datepicker({
                format: "dd/mm/yyyy"
            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });


            $("#btn-order").click(function () {

                let ticketCode = $("#se-ticket").val();
                let quanti = $("#txt-quanti").val();
                let visitDate = $("#VisitDate").val();
                location.href = "/condao/ticketorder?ticketCode=" + ticketCode + "&quanti=" + quanti + "&visitDate=" + visitDate;

            });
        });


    </script>
}