<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
      <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=103.27.236.167;Initial Catalog=LangBian;User ID=sa;Password=Alibaba@123654;MultipleActiveResultSets=True;" />
    </connectionStrings>
</configuration>